table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    border: 0.13rem solid #000000;
}

th,
td {
    border: 1px solid #000000;
    padding: 1rem 8px;
    text-align: left;
}